@charset "UTF-8";
@font-face {
  font-family: "lato-grid";
  src: url("../fonts/CourierPrime-Bold.woff") format("woff");
  font-weight: bold;
}
@font-face {
  font-family: "lato-grid";
  src: url("../fonts/CourierPrime-Regular.woff") format("woff");
  font-weight: 400;
}
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 14px;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside, section {
  display: block;
}
html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
}

body {
  min-width: 320px;
  line-height: 1;
  font-size: 14px;
  font-family: "lato-grid", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*------------------------*/
body {
  position: relative;
  margin: 0 auto 0 auto;
  background-color: #FCFCFC;
  overflow-x: hidden;
  opacity: 1;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

.container {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  background-color: #FCFCFC;
  z-index: -1;
}

.ibg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  align-content: center;
}
.ibg img {
  display: none;
}

.grid {
  display: grid;
  display: -ms-grid;
}

.lock {
  overflow: hidden;
}

/*$title:#FAECE9;*/
.header {
  position: absolute;
  width: 100%;
  z-index: 2;
  left: 0;
  top: 0.625em;
  min-height: auto;
}
.header__row {
  display: flex;
  font-size: 0;
  justify-content: center;
  align-items: center;
  height: 125px;
}
.header__logo {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate3d(-50%, 0px, 0px);
  -webkit-transform: translate3d(-50%, 0px, 0px);
  z-index: 10;
}
@media (max-width: 767px) {
  .header {
    top: 15px;
  }
}

@media (max-width: 767px) {
  .menu__icon {
    display: block;
    position: fixed;
    width: 30px;
    height: 18px;
    top: 2.5%;
    right: 5%;
    cursor: pointer;
    z-index: 10;
  }
  .menu__icon span {
    transition: all 0.3s ease 0s;
    background-color: #fff;
    width: 100%;
    height: 2px;
    position: absolute;
    top: 45%;
    left: 0;
    box-shadow: 0px 0px 3px 0.1px #353738;
  }
  .menu__icon span:first-child {
    top: 0px;
  }
  .menu__icon span:last-child {
    top: auto;
    bottom: 0px;
  }
  .menu__icon.active {
    position: fixed;
    margin: 0 0 0 5%;
  }
  .menu__icon.active span {
    transform: scale(0);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    background-color: #fff;
  }
  .menu__icon.active span:first-child {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    top: 8px;
  }
  .menu__icon.active span:last-child {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    bottom: 8px;
  }
}
.menu__body {
  z-index: 9;
}
.menu__list {
  display: flex;
  font-size: 0;
}
.menu__list li {
  position: relative;
  padding: 0px 37.5px;
}
.menu__list li:nth-child(2) {
  padding: 0px 110px 0px 37.5px;
}
.menu__list li:nth-child(3) {
  padding: 0px 37.5px 0px 110px;
}
.menu__list li:after {
  content: "";
  width: 2px;
  height: 2px;
  background-color: #FCFCFC;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 45%;
  margin: -1px -0.5px 0 0;
}
.menu__list li:nth-child(2):after, .menu__list li:last-child:after {
  display: none;
}
.menu__link {
  color: #fff;
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2.6px;
  list-style: none;
  text-shadow: 2px 1px 14px #000000;
  opacity: 0.8;
  transition: all 0.2s ease 0s;
}
.menu__link:hover {
  text-shadow: 2px 5px 10px #000000;
  transform: scale(1.01);
  -webkit-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transition: all 0.3s ease 0s;
  opacity: 1;
}
@media (max-width: 900px) {
  .menu__link {
    font-size: 0.9em;
  }
}
@media (max-width: 767px) {
  .menu__body {
    position: fixed;
    margin: 0 auto 0 auto;
    max-height: auto;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    background-color: #4d4959;
    padding: 150px 0 20px 0;
    transform: translate3d(0px, -100%, 0px);
    -webkit-transform: translate3d(0px, -100%, 0px);
    transition: all 0.5s ease 0.2s;
  }
  .menu__body.active {
    transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    transition: all 0.5s ease 0.2s;
  }
  .menu__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0 auto;
    padding-top: 50px;
  }
  .menu__list li {
    padding: 0 0 45px 0;
  }
  .menu__list li:nth-child(2), .menu__list li:nth-child(3) {
    padding: 0 0 45px 0;
  }
  .menu__list li:nth-child(2):after, .menu__list li:nth-child(3):after {
    display: block;
  }
  .menu__list li:last-child {
    padding: 0;
  }
  .menu__list li:after {
    width: 4px;
    height: 4px;
    background-color: #fff;
    right: 50%;
    top: 40px;
    margin: 0 -2px 0 0;
  }
  .menu__link {
    color: #fff;
    font-size: 1.1em;
  }
}
@media (max-width: 320px) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    background-color: #4d4959;
    padding: 150px 0 20px 0;
    transform: translate3d(0px, -100%, 0px);
    -webkit-transform: translate3d(0px, -100%, 0px);
    transition: all 0s ease 0.2s;
  }
  .menu__body.active {
    transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    transition: all 0s ease 0.2s;
  }
  .menu__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0 auto;
    padding-top: 50px;
  }
  .menu__list li {
    padding: 0 0 45px 0;
  }
  .menu__list li:nth-child(2), .menu__list li:nth-child(3) {
    padding: 0 0 45px 0;
  }
  .menu__list li:nth-child(2):after, .menu__list li:nth-child(3):after {
    display: block;
  }
  .menu__list li:last-child {
    padding: 0;
  }
  .menu__list li:after {
    content: "";
    width: 4px;
    height: 4px;
    background-color: #fff;
    right: 50%;
    top: 40px;
    margin: 0 -2px 0 0;
  }
  .menu__link {
    color: #fff;
    font-size: 20px;
  }
}

#content {
  display: none;
}

.footer {
  background-color: black;
}
.footer__row {
  display: flex;
  font-size: 0;
  padding: 50px 0;
  align-items: center;
}
.footer__column {
  flex: 0 1 33.333%;
}
.footer__address {
  color: #EFEFEF;
  font-size: 14px;
  line-height: 18px;
}
.footer__address p:first-child {
  font-weight: bold;
}
.footer__address p a {
  color: #EFEFEF;
}
.footer__social {
  display: flex;
  font-size: 0;
  justify-content: flex-end;
}
@media (max-width: 1100px) {
  .footer {
    padding: 30px 25px;
  }
}
@media (max-width: 768px) {
  .footer {
    padding: 15px 25px;
  }
}
@media (max-width: 500px) {
  .footer__row {
    flex-direction: column;
    padding: 30px 0;
  }
  .footer__dev {
    margin: 25px 0;
  }
}

.dev {
  display: flex;
  font-size: 0;
  justify-content: center;
}
.dev_text {
  color: #EFEFEF;
  font-size: 14px;
}

.social__link {
  margin: 0 7.5px;
  transition: all 0.1s ease 0s;
}
.social__link:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transition: all 0.2s ease 0s;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  display: flex;
  font-size: 0;
  align-items: flex-start;
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-dots {
  display: flex;
  font-size: 0;
  justify-content: center;
  align-items: center;
}
.slick-dots li {
  margin: 35px 10px 0 10px;
}
@media (max-width: 768px) {
  .slick-dots li {
    padding-bottom: 20px;
  }
}
.slick-dots li button {
  font-size: 0;
  width: 11px;
  height: 11px;
  border: 1px solid #c8c8c8;
  border-radius: 50%;
  background-color: transparent;
}
.slick-dots li.slick-active button {
  background-color: #353738;
}

.slick-arrow.slick-hidden {
  display: none;
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  font-size: 0;
  flex-direction: column;
}

.main-screen {
  flex: 1 0 100%;
  position: relative;
}
@media (max-width: 768px) {
  .main-screen {
    flex: 1 0 30%;
    min-height: 170px;
  }
}
.main-screen__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.about {
  background-color: #EFEFEF;
}
@media (max-width: 1100px) {
  .about {
    margin-bottom: 20px;
  }
  .about__content:before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin: 0 0 0 -10px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff;
  }
}
@media (max-width: 1100px) and (max-width: 1100px) {
  .about__content:before {
    display: none;
  }
}
@media (max-width: 768px) {
  .about {
    margin-bottom: 0;
  }
}

.block {
  height: auto;
}
.block:first-child {
  padding-top: 0%;
  margin-top: 10%;
}
@media (max-width: 1100px) {
  .block:first-child {
    padding-top: 5%;
    margin-top: 0;
  }
}
@media (max-width: 768px) {
  .block {
    padding-top: 1%;
    margin-top: 0;
  }
  .block:first-child {
    padding-top: 5%;
    margin-top: 0;
  }
}
.block__icon {
  margin: 5% 0 4.5% 0;
}
@media (max-width: 768px) {
  .block__icon {
    margin: 4.5% 0 4.5% 0;
  }
}
@media (max-width: 1100px) {
  .block__icon {
    margin: 0.5% 0 2.5% 0;
  }
}
.block__title {
  color: #353738;
  font-size: 1.125em;
  font-weight: bold;
  letter-spacing: 3.6px;
  margin: 0 0 18px 0;
  line-height: 24px;
  position: relative;
}
.block__title:after {
  content: "";
  width: 2px;
  height: 2px;
  background-color: #353738;
  border-radius: 50%;
  position: absolute;
  right: 13%;
  top: 50%;
  margin: -1px -0.5px 0 0;
}
@media (max-width: 1100px) {
  .block__title:after {
    display: none;
  }
}
.block__title:before {
  content: "";
  width: 2px;
  height: 2px;
  background-color: #353738;
  border-radius: 50%;
  position: absolute;
  left: 13%;
  top: 50%;
  margin: -1px -0.5px 0 0;
}
@media (max-width: 1100px) {
  .block__title:before {
    display: none;
  }
}
.block__text {
  color: #353738;
  text-align: justify;
  font-size: 1.125em;
  line-height: 34px;
  padding: 0 0 5% 0;
}
@media (max-width: 1100px) {
  .block__text {
    padding: 0 1.5em 0 1.5em;
  }
}
@media (max-width: 1100px) {
  .block__row {
    flex-direction: column;
  }
}
@media (max-width: 1500px) {
  .block__text_j:after {
    content: "";
    margin: 0 0 18px 0;
    margin: 15px auto 0 auto;
  }
}

.item {
  height: 100%;
  display: block;
  position: relative;
  background-position: cover;
  cursor: auto;
}
.item__logo {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  font-size: 0;
  transition: all 0.3s ease 0s;
  justify-content: center;
  align-items: center;
  background-color: rgba(196, 191, 188, 0.2);
  z-index: 2;
  opacity: 0;
  visibility: hidden;
}
.item__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.item__image:first-child {
  height: 110%;
}
@media (max-width: 110px) {
  .item__image {
    height: 120%;
  }
}
@media (max-width: 768px) {
  .item__image {
    margin-bottom: 50px;
  }
}
@media (max-width: 1100px) {
  .item {
    height: auto;
    padding: 0 0 70% 0;
  }
}

.studio {
  padding: 3.2em 0 6.4em 0;
  background-color: #EFEFEF;
  top: 0;
  left: 0;
  height: auto;
  z-index: 10;
}
@media (max-width: 1100px) {
  .studio {
    padding: 0 0 50px 0;
  }
}
.studio__row {
  display: flex;
  font-size: 0;
}
@media (max-width: 1100px) {
  .studio__row {
    flex-direction: column-reverse;
  }
}
@media (max-width: 768px) {
  .studio__row {
    padding: 0 20px 0 20px;
    margin-left: 0;
    flex-direction: column-reverse;
  }
  .studio__row:last-child {
    flex-direction: flex-end;
  }
}
.studio__column {
  flex: 0 1 50%;
  margin-left: 10px;
}
@media (max-width: 1100px) {
  .studio__column {
    border: none;
    margin-left: 0;
  }
}
.studio__column_b {
  flex: 0 1 50%;
  margin-right: 20px;
  min-height: 100%;
}
@media (max-width: 1100px) {
  .studio__column_b {
    margin: 50px 20px 20px 20px;
  }
}
.studio__item {
  max-height: 100vh;
  min-height: auto;
  min-height: 100%;
  height: 100%;
  display: block;
  position: relative;
  background-position: cover;
}
@media (max-height: 600px) {
  .studio__item {
    height: 100%;
  }
}
.studio__block {
  text-align: center;
  padding: 0 0 1.42em 2.14em;
  border-left: 1px solid #dadada;
}
@media (max-width: 1100px) {
  .studio__block {
    padding: 0 20px 0 20px;
    border-left: none;
  }
}
@media (max-width: 768px) {
  .studio__block {
    padding: 0 10px 0 10px;
    margin-left: 0;
    border-left: none;
  }
}

.portfolio {
  position: relative;
  padding: 3.2em 0 3.2em 0;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0;
}
@media (max-width: 1100px) {
  .portfolio {
    grid-template-columns: 1fr, 1fr;
    padding: 0 0 50px 0;
  }
}
@media (max-width: 768px) {
  .portfolio {
    grid-template-columns: 1fr;
  }
}
.portfolio__content {
  grid-gap: 10px;
}
.portfolio__item {
  text-align: center;
  min-height: 25vh;
  font-size: 1.2em;
  padding: 20px;
  position: relative;
  transition: opacity 0.5s ease;
  cursor: pointer;
}
.portfolio__item:hover {
  background-color: #353738;
  opacity: 0.92;
  transition: opacity 0.3s ease;
}
.portfolio__item:hover:before {
  opacity: 0.72;
}
.portfolio__item:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.portfolio__item > * {
  z-index: 1;
}
.portfolio__item:nth-child(1) {
  grid-column: 1/3;
}
.portfolio__item:nth-child(5) {
  grid-column: 2/4;
}
.portfolio__item:nth-child(6) {
  grid-column: 4;
  grid-row: 2/4;
}
@media (max-width: 1100px) {
  .portfolio__item {
    min-height: 30vh;
    font-size: 16px;
  }
  .portfolio__item:nth-child(4) {
    grid-column: 1/3;
  }
  .portfolio__item:nth-child(5) {
    grid-column: 3/5;
    grid-row: initial;
  }
  .portfolio__item:nth-child(6) {
    grid-column: initial;
    grid-row: initial;
  }
}
@media (max-width: 768px) {
  .portfolio__item {
    min-height: 40vh;
    grid-gap: 10px;
  }
  .portfolio__item:nth-child(n) {
    grid-column: 1/5;
    min-width: 100%;
  }
}
.portfolio__title {
  display: block;
  text-transform: lowercase;
  font-size: 1em;
  font-weight: 400;
  color: #fff;
  height: 30px;
  z-index: 1;
  line-height: 24px;
  opacity: 1;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate3d(-50%, 0px, 0px);
  -webkit-transform: translate3d(-50%, 0px, 0px);
  transition: font-size 0.5s ease;
}

.button {
  display: inline-block;
  border: none;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #3D382F;
  padding: 10px 60px;
  font-size: 1.1em;
  font-weight: 400;
  border-radius: 2px;
  text-align: center;
  position: relative;
  outline: none;
  transition: background-color 0.1s ease;
  cursor: pointer;
}
.button:focus, .button:hover {
  text-decoration: none;
  color: #fff;
}
.button:hover {
  background-color: #6b655b;
}
.button::after {
  opacity: 0.22;
}
.button:active {
  background-color: #413e4b;
}
.button::after {
  opacity: 0.32;
}

.buttoncase {
  grid-column: 1/5;
  padding: 2.8em 20px 0 20px;
}
@media (max-width: 1100px) {
  .buttoncase {
    grid-column: 1/5;
    padding: 2.5% 20px 0 20px;
  }
}
@media (max-width: 800px) {
  .buttoncase {
    grid-template-columns: 1fr;
  }
}

.buttonTo-block {
  position: fixed;
  bottom: 1.4%;
  left: 50%;
  transform: translate3d(-50%, 0px, 0px);
  -webkit-transform: translate3d(-50%, 0px, 0px);
  margin: 0 auto;
  background: none;
  transition: all 0.5s ease 0s;
  z-index: 10;
  opacity: 0.85;
}
@media (max-width: 768px) {
  .buttonTo-block {
    display: none !important;
  }
}
.buttonTo-block:hover {
  transform: translate3d(-50%, 0px, 0px);
  -webkit-transform: translate3d(-50%, 0px, 0px);
  transition: all 0.2s ease 0s;
  opacity: 1;
}

.brands {
  background-color: #EFEFEF;
  height: auto;
}
.brands_rev .brands__column {
  order: 1;
}
.brands_rev .brands__column_b {
  order: 2;
}
.brands__row {
  display: flex;
  font-size: 0;
}
.brands__column {
  flex: 0 1 33.333%;
  vertical-align: center;
}
.brands__column_b {
  flex: 0 1 66.667%;
}
.brands__item {
  max-height: 100vh;
  min-height: auto;
  min-height: 100%;
  height: 100%;
}
.brands__content {
  padding: 70px 65px 60px 65px;
  position: relative;
  text-align: center;
  /* 		&:after{
  			content:'';
  			position:absolute;
  			bottom: 50%;
  			left: -2px;
  			margin: 0 0 0 -10px;
  			width:0; height:0; 
  			border-left: 10px solid transparent;
  			border-right: 10px solid transparent;
  			border-top: 10px solid $bg2;
  			transform: rotate(90deg);

  		}
  		&:before{
  			content:'';
  			position:absolute;
  			top: 50%;
  			right: -12px;
  			margin: 0 0 0 -10px;
  			width:0; height:0; 
  			border-left: 10px solid transparent;
  			border-right: 10px solid transparent;
  			border-bottom: 10px solid $bg2;
  			transform: rotate(90deg);
  			z-index:2;
  		} */
}
.brands__content h2 {
  text-transform: uppercase;
}
.brands__image {
  padding: 0 0 40% 0;
}
@media (max-width: 1500px) {
  .brands__content {
    padding: 40px 35px 30px 35px;
  }
}
@media (max-width: 1100px) {
  .brands__content {
    padding: 0 0 20px 0;
    text-align: center;
  }
  .brands__row {
    flex-direction: column;
  }
  .brands_last .brands__column:nth-child(1) {
    order: 2;
  }
  .brands_last .brands__column:nth-child(2) {
    order: 1;
  }
  .brands_last .brands__column:nth-child(3) {
    display: none;
  }
}

.slider1 {
  background-color: #FCFCFC;
  padding: 3.2em 0 3.2em 0;
  min-height: 15.625em;
}
@media (max-width: 1100px) {
  .slider1 {
    padding: 1.25em 0 1.875em 0;
  }
}
@media (max-width: 768px) {
  .slider1 {
    padding: 1.25em 0 1.875em 0;
  }
}
.slider1__item {
  text-align: center;
}
.slider1__icon {
  margin: 1.1em auto 2.18em auto;
  transform: translate3d(0, 0px, 0px);
  -webkit-transform: translate3d(0, 0px, 0px);
}
.slider1__icon img {
  border-radius: 50%;
}
.slider1__title {
  margin-bottom: 1.375em;
  font-size: 1.257em;
  font-weight: 700;
}
.slider1__text {
  text-align: center;
  color: #4d4959;
  font-size: 1.4em;
  line-height: 34px;
  font-style: italic;
  padding: 0 0 1em 0;
}
@media (max-width: 768px) {
  .slider1__text {
    padding-bottom: 0;
  }
}

.contact {
  background-color: #EFEFEF;
  padding: 45px 0 51px 0;
  vertical-align: center;
  text-align: center;
  color: #353738;
}
.contact__row {
  display: flex;
  font-size: 0;
  padding-top: 0;
  margin-bottom: 45px;
}
@media (max-width: 768px) {
  .contact__row {
    flex-direction: column;
    margin: 25px 85px 25px 85px;
  }
  .contact__row:last-child {
    margin-bottom: 45px;
  }
}
.contact__item {
  font-size: 22px;
  flex: 0 1 33.333%;
  text-align: center;
}
.contact__item:nth-child(2) {
  border-left: 1px solid #dadada;
  border-right: 1px solid #dadada;
}
@media (max-width: 768px) {
  .contact__item:nth-child(2) {
    border-right: none;
    border-left: none;
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
  }
}
@media (max-width: 768px) {
  .contact__item:nth-child(1) {
    border-top: none;
  }
}
.contact__text {
  font-size: 22px;
  line-height: 34px;
  padding: 0 0 1% 0;
}
.contact__text p {
  text-transform: uppercase;
}
.contact__list {
  line-height: 20px;
  padding: 0 0 5% 0;
}
.contact__list a {
  color: #353738;
}
.contact__column {
  position: relative;
}
.contact__map {
  position: relative;
  height: 300px;
  margin-bottom: 45px;
}
.contact__map_image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.form {
  padding: 25px 0 25px 0;
}
.form__content {
  display: flex;
  font-size: 0;
  padding-top: 0;
  justify-content: center;
}
@media (max-width: 768px) {
  .form__content {
    flex-direction: column;
    margin: 0 20% 0 20%;
  }
}
.form__input {
  background-color: #E6C3CB;
  text-align: left;
  padding-left: 15px;
  font-size: 16px;
}
.form__input:nth-child(2) {
  margin: 0 15px;
}
@media (max-width: 768px) {
  .form__input:nth-child(2) {
    margin: 15px 0;
  }
}
@media (max-width: 450px) {
  .form__input:nth-child(2) {
    margin: 20px 0 20px 0;
  }
}
.form__input:hover, .form__input:focus {
  background-color: #B9BEBA;
}
.form__input:focus::-webkit-input-placeholder {
  color: transparent;
}
.form__input:focus::-moz-placeholder {
  color: transparent;
}
.form__input:focus:-moz-placeholder {
  color: transparent;
}
.form__input:focus:-ms-input-placeholder {
  color: transparent;
}
.form__submit {
  background-color: #B9BEBA;
  font-size: 16px;
}
@media (max-width: 450px) {
  .form__submit {
    margin-bottom: 20px;
    font-size: 16px;
  }
}

.screen__portfolio {
  flex: 1 0 15vh;
  position: relative;
  min-height: 25vh;
  min-height: 150px;
}

.main-header {
  min-height: 100%;
  background-size: cover;
  background-position: center;
  align-content: center;
}

.content_P {
  padding-bottom: 45px;
}

.gallery {
  text-align: center;
  vertical-align: top;
}
.gallery__row {
  display: flex;
  font-size: 0;
  margin: 0 20px 30px 20px;
  flex-wrap: wrap;
  justify-content: center;
}
@media (max-width: 1100px) {
  .gallery__row {
    flex-direction: column;
  }
}
.gallery__column {
  flex: 1 1 30%;
  padding: 0 0 33.333% 0;
  margin: 5px;
  vertical-align: center;
  position: relative;
  animation-duration: 2s;
  transition: all 500s ease;
}
.gallery__column:nth-child(1) {
  flex-grow: 5;
}
@media (max-width: 1100px) {
  .gallery__column {
    margin-bottom: 10px;
    border-radius: none;
    min-height: 25vh;
  }
}
.gallery__fancy {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation-duration: 2s;
  transition: all 500s ease;
}
.gallery__last {
  margin-bottom: 90px;
}

.portfolio_nav {
  text-align: center;
}
@media (max-width: 450px) {
  .portfolio_nav {
    margin: 1.5em auto 0 auto;
  }
}
.portfolio_nav__link {
  color: #353738;
  display: none;
}
@media (max-width: 450px) {
  .portfolio_nav__link {
    display: inherit;
    height: 2em;
  }
  .portfolio_nav__link:after {
    display: inline-block;
    text-align: center;
    content: url(../../img/arrow-down-sign-to-navigate.png);
    vertical-align: bottom;
    line-height: 0.688em;
  }
}

.portfolio_nav ul li .filter {
  display: inherit;
}
@media (max-width: 450px) {
  .portfolio_nav ul li .filter {
    display: none;
  }
}

@media (max-width: 450px) {
  .portfolio_nav ul li:hover > div {
    display: inherit;
  }
}

.portfolio_nav ul li > div.active-filter {
  display: inherit;
}
/*@media (max-width: 450px) {
  .portfolio_nav ul li > div.active-filter {
    display: none;
  }
}*/

.filter {
  font-size: 1.2em;
  z-index: 1;
  margin: 0 auto;
}
.filter__links {
  margin: 0;
  list-style: none;
  text-align: center;
  width: 100%;
  height: auto;
  overflow: hidden;
  background: #FCFCFC;
  padding: 1.5em 1.5em 1.5em 1.5em;
}
@media (max-width: 450px) {
  .filter__links {
    padding: 0 1.5em 1em 1.5em;
  }
}

.filter__links li {
  text-align: center;
  display: inline;
  color: #353738;
  text-decoration: none;
  padding: 1.5em 1.5em;
  cursor: pointer;
}
@media (max-width: 450px) {
  .filter__links li {
    display: block;
    padding: 0.5em;
  }
}
.filter__links li:hover {
  color: #000000;
  text-shadow: 2px 1px 14px #000000;
}
.filter__links li:visited {
  display: none;
}

.hide {
  display: none;
  position: absolute;
  top: -1000px;
  left: -1000px;
  opacity: 1;
  margin: 0 -1000;
}

.info {
  text-align: center;
  margin: 0 auto;
  min-height: auto;
}
.info__row {
  height: auto;
  margin: 0 auto;
  min-width: 100%;
  display: flex;
  font-size: 0;
  justify-content: center;
}
@media (max-width: 1100px) {
  .info__row {
    flex-wrap: wrap-reverse;
  }
}
.info__column {
  width: 65%;
  height: 100%;
}
@media (max-width: 1100px) {
  .info__column {
    width: 100%;
  }
}
.info__column:nth-child(2) {
  min-height:100%;
  margin:auto;
}
.info__block {
  margin: 0 5% 10% 5%;
  position: relative;
}
@media (max-width: 1100px) {
  .info__block {
    margin: 0 5% 8% 5%;
  }
}
@media (max-width: 1100px) {
  .info__block__block > img {
    margin-bottom: 0 !important;
  }
}
@media (max-width: 500px) {
  .info__block {
    margin: 0 0 0 0 !important;
    padding: 0 2em 2em 2em !important;
  }
}
.info__icon {
  margin-bottom: 1em;
}

.slider2__item > img {
  height: auto;
  max-height: 60vh;
  min-height: 30%;
  width: 70%;
}
@media (max-width: 1100px) {
  .slider2__item > img {
    width: 80%;
    max-height: 90vh;
  }
}
@media (max-width: 768px) {
  .slider2__item > img {
    width: 90%;
    height: 100%;
  }
}

.slider2 {
  background-color: #fff;
}

#big {
  height: auto;
  max-height: 60vh;
  min-height: 30%;
  width: 82.5%;
}
@media (max-width: 1100px) {
  #big {
    width: 80%;
    max-height: 90vh;
  }
}
@media (max-width: 768px) {
  #big {
    width: 90%;
    height: 100%;
  }
}

.slider-single {
  padding-top: 3.2em;
}

@media (max-width: 1100px) {
  .slider-single{
    padding-top: 0;
    margin: 0 auto 1em auto;
  }
}


.slider-nav {
  width: 80.1%;
  height: auto;
  margin: auto;
  padding: 2em 0px 2em 0px;
  display: block;
}
.slider-nav:hover {
  cursor:pointer;
}

.slick-current > #small {
  opacity: 1;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
}
@media (max-width: 1100px) {
  .slick-current > #small {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
  }
}
@media (max-width: 768px) {
  .slick-current > #small {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
  }
}
#aboutme {
  margin: 5em;
  background-color: #FCFCFC;
}
#aboutme:before, #aboutme:after {
  display: none;
}
@media (max-width: 768px) {
  #aboutme {
    margin: 1em 2em 4em 2em;
    text-align: center;
  }
}

.contakt_info {
  text-align: center;
  margin: 0;
  width: 100%;
}

.contact-map {
  padding-top: 0;
}
#contact {
  background-color: #FCFCFC;
}

.artist {}
#artist {
  margin: 0 0 5% 0;
  text-align:center;
}

